Options -MultiViews
RewriteEngine On
Options -Indexes
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
<IfModule mod_deflate.c>
	AddType image/svg+xml .svg
	AddOutputFilterByType DEFLATE image/svg+xml
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/javascript
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/atom_xml
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE application/x-shockwave-flash
</IfModule>
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 7 days"
	ExpiresByType text/css "access plus 7 days"
	ExpiresByType text/plain "access plus 7 days"
	ExpiresByType image/gif "access plus 7 days"
	ExpiresByType image/png "access plus 7 days"
	ExpiresByType image/jpeg "access plus 7 days"
	ExpiresByType image/x-icon "access plus 7 days"
	ExpiresByType application/x-javascript "access plus 7 days"
	ExpiresByType application/javascript "access plus 7 days"
	ExpiresByType text/javascript "access plus 7 days"
	ExpiresByType application/x-icon "access plus 7 days"
</IfModule>
SetEnvIfNoCase Referer semalt.semalt.com spammer=yes
SetEnvIfNoCase Referer 0n-line.tv spammer=yes
SetEnvIfNoCase Referer 100dollars-seo.com spammer=yes
SetEnvIfNoCase Referer 12masterov.com spammer=yes
SetEnvIfNoCase Referer 1pamm.ru spammer=yes
SetEnvIfNoCase Referer 4webmasters.org spammer=yes
SetEnvIfNoCase Referer 5forex.ru spammer=yes
SetEnvIfNoCase Referer 7makemoneyonline.com spammer=yes
SetEnvIfNoCase Referer acads.net spammer=yes
SetEnvIfNoCase Referer adcash.com spammer=yes
SetEnvIfNoCase Referer adspart.com spammer=yes
SetEnvIfNoCase Referer adventureparkcostarica.com spammer=yes
SetEnvIfNoCase Referer adviceforum.info spammer=yes
SetEnvIfNoCase Referer affordablewebsitesandmobileapps.com spammer=yes
SetEnvIfNoCase Referer afora.ru spammer=yes
SetEnvIfNoCase Referer akuhni.by spammer=yes
SetEnvIfNoCase Referer alibestsale.com spammer=yes
SetEnvIfNoCase Referer allknow.info spammer=yes
SetEnvIfNoCase Referer allnews.md spammer=yes
SetEnvIfNoCase Referer allwomen.info spammer=yes
SetEnvIfNoCase Referer alpharma.net spammer=yes
SetEnvIfNoCase Referer altermix.ua spammer=yes
SetEnvIfNoCase Referer amt-k.ru spammer=yes
SetEnvIfNoCase Referer anal-acrobats.hol.es spammer=yes
SetEnvIfNoCase Referer anapa-inns.ru spammer=yes
SetEnvIfNoCase Referer android-style.com spammer=yes
SetEnvIfNoCase Referer anticrawler.org spammer=yes
SetEnvIfNoCase Referer arendakvartir.kz spammer=yes
SetEnvIfNoCase Referer arkkivoltti.net spammer=yes
SetEnvIfNoCase Referer artparquet.ru spammer=yes
SetEnvIfNoCase Referer aruplighting.com spammer=yes
SetEnvIfNoCase Referer autovideobroadcast.com spammer=yes
SetEnvIfNoCase Referer aviva-limoux.com spammer=yes
SetEnvIfNoCase Referer azartclub.org spammer=yes
SetEnvIfNoCase Referer baixar-musicas-gratis.com spammer=yes
SetEnvIfNoCase Referer baladur.ru spammer=yes
SetEnvIfNoCase Referer balitouroffice.com spammer=yes
SetEnvIfNoCase Referer bard-real.com.ua spammer=yes
SetEnvIfNoCase Referer bestmobilityscooterstoday.com spammer=yes
SetEnvIfNoCase Referer best-seo-offer.com spammer=yes
SetEnvIfNoCase Referer best-seo-solution.com spammer=yes
SetEnvIfNoCase Referer best-seo-software.xyz spammer=yes
SetEnvIfNoCase Referer bestwebsitesawards.com spammer=yes
SetEnvIfNoCase Referer bif-ru.info spammer=yes
SetEnvIfNoCase Referer biglistofwebsites.com spammer=yes
SetEnvIfNoCase Referer billiard-classic.com.ua spammer=yes
SetEnvIfNoCase Referer bizru.info spammer=yes
SetEnvIfNoCase Referer blackhatworth.com spammer=yes
SetEnvIfNoCase Referer bluerobot.info spammer=yes
SetEnvIfNoCase Referer blue-square.biz spammer=yes
SetEnvIfNoCase Referer bmw.afora.ru spammer=yes
SetEnvIfNoCase Referer brakehawk.com spammer=yes
SetEnvIfNoCase Referer break-the-chains.com spammer=yes
SetEnvIfNoCase Referer brk-rti.ru spammer=yes
SetEnvIfNoCase Referer brothers-smaller.ru spammer=yes
SetEnvIfNoCase Referer budmavtomatika.com.ua spammer=yes
SetEnvIfNoCase Referer buttons-for-website.com spammer=yes
SetEnvIfNoCase Referer buttons-for-your-website.com spammer=yes
SetEnvIfNoCase Referer buy-cheap-online.info spammer=yes
SetEnvIfNoCase Referer buy-forum.ru spammer=yes
SetEnvIfNoCase Referer cardiosport.com.ua spammer=yes
SetEnvIfNoCase Referer cartechnic.ru spammer=yes
SetEnvIfNoCase Referer cenokos.ru spammer=yes
SetEnvIfNoCase Referer cenoval.ru spammer=yes
SetEnvIfNoCase Referer cezartabac.ro spammer=yes
SetEnvIfNoCase Referer chinese-amezon.com spammer=yes
SetEnvIfNoCase Referer cityadspix.com spammer=yes
SetEnvIfNoCase Referer ci.ua spammer=yes
SetEnvIfNoCase Referer civilwartheater.com spammer=yes
SetEnvIfNoCase Referer coderstate.com spammer=yes
SetEnvIfNoCase Referer codysbbq.com spammer=yes
SetEnvIfNoCase Referer conciergegroup.org spammer=yes
SetEnvIfNoCase Referer connectikastudio.com spammer=yes
SetEnvIfNoCase Referer copyrightclaims.org spammer=yes
SetEnvIfNoCase Referer cubook.supernew.org spammer=yes
SetEnvIfNoCase Referer customsua.com.ua spammer=yes
SetEnvIfNoCase Referer dailyrank.net spammer=yes
SetEnvIfNoCase Referer darodar.com spammer=yes
SetEnvIfNoCase Referer dbutton.net spammer=yes
SetEnvIfNoCase Referer delfin-aqua.com.ua spammer=yes
SetEnvIfNoCase Referer demenageur.com spammer=yes
SetEnvIfNoCase Referer descargar-musica-gratis.net spammer=yes
SetEnvIfNoCase Referer detskie-konstruktory.ru spammer=yes
SetEnvIfNoCase Referer dipstar.org spammer=yes
SetEnvIfNoCase Referer djekxa.ru spammer=yes
SetEnvIfNoCase Referer dojki-hd.com spammer=yes
SetEnvIfNoCase Referer domination.ml spammer=yes
SetEnvIfNoCase Referer doska-vsem.ru spammer=yes
SetEnvIfNoCase Referer dostavka-v-krym.com spammer=yes
SetEnvIfNoCase Referer drupa.com spammer=yes
SetEnvIfNoCase Referer dvr.biz.ua spammer=yes
SetEnvIfNoCase Referer e-buyeasy.com spammer=yes
SetEnvIfNoCase Referer ecomp3.ru spammer=yes
SetEnvIfNoCase Referer econom.co spammer=yes
SetEnvIfNoCase Referer edakgfvwql.ru spammer=yes
SetEnvIfNoCase Referer egovaleo.it spammer=yes
SetEnvIfNoCase Referer ekto.ee spammer=yes
SetEnvIfNoCase Referer e-kwiaciarz.pl spammer=yes
SetEnvIfNoCase Referer elmifarhangi.com spammer=yes
SetEnvIfNoCase Referer erot.co spammer=yes
SetEnvIfNoCase Referer escort-russian.com spammer=yes
SetEnvIfNoCase Referer este-line.com.ua spammer=yes
SetEnvIfNoCase Referer euromasterclass.ru spammer=yes
SetEnvIfNoCase Referer europages.com.ru spammer=yes
SetEnvIfNoCase Referer eurosamodelki.ru spammer=yes
SetEnvIfNoCase Referer event-tracking.com spammer=yes
SetEnvIfNoCase Referer fbdownloader.com spammer=yes
SetEnvIfNoCase Referer floating-share-buttons.com spammer=yes
SetEnvIfNoCase Referer forex-procto.ru spammer=yes
SetEnvIfNoCase Referer forsex.info spammer=yes
SetEnvIfNoCase Referer forum20.smailik.org spammer=yes
SetEnvIfNoCase Referer forum69.info spammer=yes
SetEnvIfNoCase Referer free-floating-buttons.com spammer=yes
SetEnvIfNoCase Referer free-share-buttons.com spammer=yes
SetEnvIfNoCase Referer free-social-buttons.com spammer=yes
SetEnvIfNoCase Referer freewhatsappload.com spammer=yes
SetEnvIfNoCase Referer fsalas.com spammer=yes
SetEnvIfNoCase Referer generalporn.org spammer=yes
SetEnvIfNoCase Referer germes-trans.com spammer=yes
SetEnvIfNoCase Referer get-free-social-traffic.com spammer=yes
SetEnvIfNoCase Referer get-free-traffic-now.com spammer=yes
SetEnvIfNoCase Referer ghazel.ru spammer=yes
SetEnvIfNoCase Referer girlporn.ru spammer=yes
SetEnvIfNoCase Referer gkvector.ru spammer=yes
SetEnvIfNoCase Referer glavprofit.ru spammer=yes
SetEnvIfNoCase Referer gobongo.info spammer=yes
SetEnvIfNoCase Referer goodprotein.ru spammer=yes
SetEnvIfNoCase Referer googlsucks.com spammer=yes
SetEnvIfNoCase Referer guardlink.org spammer=yes
SetEnvIfNoCase Referer handicapvantoday.com spammer=yes
SetEnvIfNoCase Referer hongfanji.com spammer=yes
SetEnvIfNoCase Referer howopen.ru spammer=yes
SetEnvIfNoCase Referer howtostopreferralspam.eu spammer=yes
SetEnvIfNoCase Referer hulfingtonpost.com spammer=yes
SetEnvIfNoCase Referer humanorightswatch.org spammer=yes
SetEnvIfNoCase Referer hundejo.com spammer=yes
SetEnvIfNoCase Referer hvd-store.com spammer=yes
SetEnvIfNoCase Referer ico.re spammer=yes
SetEnvIfNoCase Referer igru-xbox.net spammer=yes
SetEnvIfNoCase Referer iloveitaly.ro spammer=yes
SetEnvIfNoCase Referer iloveitaly.ru spammer=yes
SetEnvIfNoCase Referer ilovevitaly.co spammer=yes
SetEnvIfNoCase Referer ilovevitaly.com spammer=yes
SetEnvIfNoCase Referer ilovevitaly.info spammer=yes
SetEnvIfNoCase Referer ilovevitaly.org spammer=yes
SetEnvIfNoCase Referer ilovevitaly.ru spammer=yes
SetEnvIfNoCase Referer iminent.com spammer=yes
SetEnvIfNoCase Referer imperiafilm.ru spammer=yes
SetEnvIfNoCase Referer investpamm.ru spammer=yes
SetEnvIfNoCase Referer iskalko.ru spammer=yes
SetEnvIfNoCase Referer ispaniya-costa-blanca.ru spammer=yes
SetEnvIfNoCase Referer it-max.com.ua spammer=yes
SetEnvIfNoCase Referer jjbabskoe.ru spammer=yes
SetEnvIfNoCase Referer justprofit.xyz spammer=yes
SetEnvIfNoCase Referer kabbalah-red-bracelets.com spammer=yes
SetEnvIfNoCase Referer kambasoft.com spammer=yes
SetEnvIfNoCase Referer kazrent.com spammer=yes
SetEnvIfNoCase Referer kino-fun.ru spammer=yes
SetEnvIfNoCase Referer kino-key.info spammer=yes
SetEnvIfNoCase Referer kinopolet.net spammer=yes
SetEnvIfNoCase Referer knigonosha.net spammer=yes
SetEnvIfNoCase Referer konkursov.net spammer=yes
SetEnvIfNoCase Referer laxdrills.com spammer=yes
SetEnvIfNoCase Referer littleberry.ru spammer=yes
SetEnvIfNoCase Referer livefixer.com spammer=yes
SetEnvIfNoCase Referer luxup.ru spammer=yes
SetEnvIfNoCase Referer makemoneyonline.com spammer=yes
SetEnvIfNoCase Referer manualterap.roleforum.ru spammer=yes
SetEnvIfNoCase Referer maridan.com.ua spammer=yes
SetEnvIfNoCase Referer masterseek.com spammer=yes
SetEnvIfNoCase Referer mebelcomplekt.ru spammer=yes
SetEnvIfNoCase Referer mebeldekor.com.ua spammer=yes
SetEnvIfNoCase Referer med-zdorovie.com.ua spammer=yes
SetEnvIfNoCase Referer minegam.com spammer=yes
SetEnvIfNoCase Referer mini.7zap.com spammer=yes
SetEnvIfNoCase Referer mirobuvi.com.ua spammer=yes
SetEnvIfNoCase Referer mirtorrent.net spammer=yes
SetEnvIfNoCase Referer mobilemedia.md spammer=yes
SetEnvIfNoCase Referer moyakuhnia.ru spammer=yes
SetEnvIfNoCase Referer msk.afora.ru spammer=yes
SetEnvIfNoCase Referer muscle-factory.com.ua spammer=yes
SetEnvIfNoCase Referer myftpupload.com spammer=yes
SetEnvIfNoCase Referer niki-mlt.ru spammer=yes
SetEnvIfNoCase Referer novosti-hi-tech.ru spammer=yes
SetEnvIfNoCase Referer online-hit.info spammer=yes
SetEnvIfNoCase Referer onlywoman.org spammer=yes
SetEnvIfNoCase Referer o-o-6-o-o.com spammer=yes
SetEnvIfNoCase Referer o-o-6-o-o.ru spammer=yes
SetEnvIfNoCase Referer o-o-8-o-o.ru spammer=yes
SetEnvIfNoCase Referer ooo-olni.ru spammer=yes
SetEnvIfNoCase Referer ozas.net spammer=yes
SetEnvIfNoCase Referer palvira.com.ua spammer=yes
SetEnvIfNoCase Referer petrovka-online.com spammer=yes
SetEnvIfNoCase Referer photokitchendesign.com spammer=yes
SetEnvIfNoCase Referer pizza-imperia.com spammer=yes
SetEnvIfNoCase Referer pizza-tycoon.com spammer=yes
SetEnvIfNoCase Referer pornhub-forum.ga spammer=yes
SetEnvIfNoCase Referer pornhub-forum.uni.me spammer=yes
SetEnvIfNoCase Referer pornhub-ru.com spammer=yes
SetEnvIfNoCase Referer pornoforadult.com spammer=yes
SetEnvIfNoCase Referer portnoff.od.ua spammer=yes
SetEnvIfNoCase Referer pozdravleniya-c.ru spammer=yes
SetEnvIfNoCase Referer priceg.com spammer=yes
SetEnvIfNoCase Referer pricheski-video.com spammer=yes
SetEnvIfNoCase Referer producm.ru spammer=yes
SetEnvIfNoCase Referer prodvigator.ua spammer=yes
SetEnvIfNoCase Referer prointer.net.ua spammer=yes
SetEnvIfNoCase Referer promoforum.ru spammer=yes
SetEnvIfNoCase Referer psa48.ru spammer=yes
SetEnvIfNoCase Referer qualitymarketzone.com spammer=yes
SetEnvIfNoCase Referer qwesa.ru spammer=yes
SetEnvIfNoCase Referer rankings-analytics.com spammer=yes
SetEnvIfNoCase Referer ranksonic.info spammer=yes
SetEnvIfNoCase Referer ranksonic.org spammer=yes
SetEnvIfNoCase Referer rapidgator-porn.ga spammer=yes
SetEnvIfNoCase Referer rcb101.ru spammer=yes
SetEnvIfNoCase Referer rednise.com spammer=yes
SetEnvIfNoCase Referer research.ifmo.ru spammer=yes
SetEnvIfNoCase Referer resellerclub.com spammer=yes
SetEnvIfNoCase Referer reversing.cc spammer=yes
SetEnvIfNoCase Referer rightenergysolutions.com.au spammer=yes
SetEnvIfNoCase Referer rospromtest.ru spammer=yes
SetEnvIfNoCase Referer sady-urala.ru spammer=yes
SetEnvIfNoCase Referer sanjosestartups.com spammer=yes
SetEnvIfNoCase Referer savetubevideo.com spammer=yes
SetEnvIfNoCase Referer screentoolkit.com spammer=yes
SetEnvIfNoCase Referer search-error.com spammer=yes
SetEnvIfNoCase Referer semalt.com spammer=yes
SetEnvIfNoCase Referer semaltmedia.com spammer=yes
SetEnvIfNoCase Referer seoanalyses.com spammer=yes
SetEnvIfNoCase Referer seoexperimenty.ru spammer=yes
SetEnvIfNoCase Referer seopub.net spammer=yes
SetEnvIfNoCase Referer seo-platform.com spammer=yes
SetEnvIfNoCase Referer seo-smm.kz spammer=yes
SetEnvIfNoCase Referer sexyali.com spammer=yes
SetEnvIfNoCase Referer sexyteens.hol.es spammer=yes
SetEnvIfNoCase Referer sharebutton.net spammer=yes
SetEnvIfNoCase Referer sharebutton.to spammer=yes
SetEnvIfNoCase Referer shop.xz618.com spammer=yes
SetEnvIfNoCase Referer sibecoprom.ru spammer=yes
SetEnvIfNoCase Referer simple-share-buttons.com spammer=yes
SetEnvIfNoCase Referer siteripz.net spammer=yes
SetEnvIfNoCase Referer sledstvie-veli.net spammer=yes
SetEnvIfNoCase Referer slftsdybbg.ru spammer=yes
SetEnvIfNoCase Referer slkrm.ru spammer=yes
SetEnvIfNoCase Referer soaksoak.ru spammer=yes
SetEnvIfNoCase Referer social-buttons.com spammer=yes
SetEnvIfNoCase Referer socialseet.ru spammer=yes
SetEnvIfNoCase Referer sohoindia.net spammer=yes
SetEnvIfNoCase Referer solnplast.ru spammer=yes
SetEnvIfNoCase Referer sosdepotdebilan.com spammer=yes
SetEnvIfNoCase Referer spb.afora.ru spammer=yes
SetEnvIfNoCase Referer spravka130.ru spammer=yes
SetEnvIfNoCase Referer steame.ru spammer=yes
SetEnvIfNoCase Referer success-seo.com spammer=yes
SetEnvIfNoCase Referer superiends.org spammer=yes
SetEnvIfNoCase Referer taihouse.ru spammer=yes
SetEnvIfNoCase Referer tattooha.com spammer=yes
SetEnvIfNoCase Referer tedxrj.com spammer=yes
SetEnvIfNoCase Referer theguardlan.com spammer=yes
SetEnvIfNoCase Referer tomck.com spammer=yes
SetEnvIfNoCase Referer toyota.7zap.com spammer=yes
SetEnvIfNoCase Referer traffic2money.com spammer=yes
SetEnvIfNoCase Referer trafficmonetize.org spammer=yes
SetEnvIfNoCase Referer trafficmonetizer.org spammer=yes
SetEnvIfNoCase Referer trion.od.ua spammer=yes
SetEnvIfNoCase Referer uasb.ru spammer=yes
SetEnvIfNoCase Referer uzungil.com spammer=yes
SetEnvIfNoCase Referer videos-for-your-business.com spammer=yes
SetEnvIfNoCase Referer video--production.com spammer=yes
SetEnvIfNoCase Referer video-woman.com spammer=yes
SetEnvIfNoCase Referer viel.su spammer=yes
SetEnvIfNoCase Referer viktoria-center.ru spammer=yes
SetEnvIfNoCase Referer vodaodessa.com spammer=yes
SetEnvIfNoCase Referer vodkoved.ru spammer=yes
SetEnvIfNoCase Referer webmaster-traffic.com spammer=yes
SetEnvIfNoCase Referer webmonetizer.net spammer=yes
SetEnvIfNoCase Referer websites-reviews.com spammer=yes
SetEnvIfNoCase Referer websocial.me spammer=yes
SetEnvIfNoCase Referer wmasterlead.com spammer=yes
SetEnvIfNoCase Referer ykecwqlixx.ru spammer=yes
SetEnvIfNoCase Referer youporn-forum.ga spammer=yes
SetEnvIfNoCase Referer youporn-forum.uni.me spammer=yes
SetEnvIfNoCase Referer youporn-ru.com spammer=yes
SetEnvIfNoCase Referer zastroyka.org spammer=yes
SetEnvIfNoCase Referer грузоподъемные-машины.рф spammer=yes
SetEnvIfNoCase Referer наркомания.лечениенаркомании.com spammer=yes
SetEnvIfNoCase Referer непереводимая.рф spammer=yes
SetEnvIfNoCase Referer профмонтаж-врн.рф spammer=yes
SetEnvIfNoCase Referer снятьдомвсевастополе.рф spammer=yes
Order allow,deny
Allow from all
Deny from env=spammer